<div class="content-wrapper">

  <h2>Dashboard</h2>

  <div #description class="description">

    <div class="des-Container">
      <span class="hidden" (click)="description.remove()">
        <i class="fa fa-times" aria-hidden="true"></i>
      </span>

      <strong>Tooltip </strong><i class="fa fa-info-circle" aria-hidden="true"></i>

      <br><br><p>
      Welcome to Relevo. This dashboard will get you started on the current issues with the inventory
      in this lab. The organisation summary gives you a bird's eye view of the
      entire inventory list.
      </p>
    </div>

  </div>

  <div class="left">

    <h3>Lab {{labNo}} Summary</h3>

    <div class="display-wrap">

      <div class="panel">
        <span class="numbers" *ngIf="pcs">{{pcs.length}}</span>
        <span class="sub-heading">Total PCs</span>
      </div>

      <div class="panel2">

        <div class="leftpanel">
          <span class="numbers" *ngIf="issuedPcs">{{issuedPcs.length}}</span>
          <span class="sub-heading">Unsolved <br> Issues</span>
        </div>

        <div class="rightpanel">
          <h4>Recent Issues</h4>
          <ul>
            <li *ngFor="let issuedPc of limitedIssues">
              <a href="#">
                <span class= "pcName">{{issuedPc.pcNo}}</span>
                <span class = "issueDesc">{{issuedPc.title}}</span>
              </a>
            </li>

            
          </ul>
        </div>

      </div>

    </div>

    <h3>Organisation Summary</h3>

    <div class="display-wrap">

      <div class="panel">
        <span class="numbers">{{stats.noOfLabs}}</span>
        <span class="sub-heading">Total Labs</span>
      </div>

      <div class="panel">
        <span class="numbers">{{stats.totalPcs}}</span>
        <span class="sub-heading">Total PCs</span>
      </div>

      <div class="panel">
        <span class="numbers">{{stats.totalIssues}}</span>
        <span class="sub-heading">Unsolved <br> Issues</span>
      </div>

    </div>
  </div>

</div>
