/* You can add global styles to this file, and also import other style files */
*{
  padding: 0px;
  margin: 0px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #f7f7f7;
}

.main-content .content-wrapper {
  padding: 20px;
  padding-left: 110px;
}

@media only screen and (min-width: 768px) {
  .main-content .content-wrapper {
    padding-left: 210px; } }